header, section, footer, aside, nav, article, figure, figcaption{
	display:block;
}

/* Typography & Colors
----------------------------------------*/
body{
	/* setting global styles */
	color:#666666;
	background-color:#FFFFFF;
	font-size: 62.5%; /* to make 1 em = 10 px */
	font-family:'Didact Gothic';
}

input,select,th,td{
	font-size: 1em;
}
p{ 
	font-size: 1.4em;
}
h1{ font-size: 3.6em; }
h2{ font-size: 2.4em; }
h3{ font-size: 2.0em; }
h4{ font-size: 1.6em; }




/* Structure
----------------------------------------*/
.leftfloat{
	float:left;
}
.rightfloat{
	float:right;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibiliy:hidden;
}
  /* clearfix for IE6 */
* html .clearfix{
	height:1%;
}
  /* clearfix for IE7 */
*:first-child+html .clearfix{
	min-height:1px;
}
.absolute{
	position:absolute;
}
.central{
	margin-left:auto;
	margin-right:auto;
	width:916px;
	background-color: #FF0000;
}



/* Headers
----------------------------------------*/


/* Map
----------------------------------------*/


/* Images
----------------------------------------*/

/* Lists
----------------------------------------*/

/* Footer
----------------------------------------*/
