header, section, footer, aside, nav, article, figure, figcaption{
	display:block;
}

/* Typography & Colors
----------------------------------------*/
body{
	/* setting global styles */
	color:#666666;
	background-color:#FFFFFF;
	font-size: 62.5%; /* to make 1 em = 10 px */
	font-family:'Didact Gothic';
}

input,select,th,td{
	font-size: 1em;
}
p{ 
	font-size: 1.4em;
}
h1{ font-size: 3.6em; }
h2{ font-size: 2.4em; }
h3{ font-size: 2.0em; }
h4{ font-size: 1.6em; }

nav a{
	font-size: 14px;
	text-decoration:none;
	color:white;

}

header{
	color:
}



/* Structure
----------------------------------------*/
.container{
	width:100%;
}
.inner{
	margin-left:auto;
	margin-right:auto;
	width:916px;
}
.leftfloat{
	float:left;
}
.rightfloat{
	float:right;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibiliy:hidden;
}
  /* clearfix for IE6 */
* html .clearfix{
	height:1%;
}
  /* clearfix for IE7 */
*:first-child+html .clearfix{
	min-height:1px;
}
.absolute{
	position:absolute;
}

.barleft{
	margin-right:2px;
}

.barright{
	margin-left:2px;
}



/* Headers
----------------------------------------*/

div.wrapper{
	position:absolute;
	top:0px;
	width:100%;
	background: url("../img/75percent_transparent_black_40by40.png") 0 repeat-x;
}

header div.wrapper{
	height:40px;
}

#title>a{
	display:block;
	height:40px;
	width:120px;
	text-indent:-9999em;
	background: url("../img/Phil_Wei_Title_Green.png") 0 no-repeat;
}

header nav{
	vertical-align:middle;
	margin-top: 24px; /* 40 px total height of the header wrapper minus 14px of font + 1px of bottom*/
}
/* Map
----------------------------------------*/
#map{
	margin-top:40px;
	height:200px;
	background-color: red;
}


/* Images
----------------------------------------*/
a img{
	border:0;
}

/* Lists
----------------------------------------*/

/* Footer
----------------------------------------*/
